/* Elementos basicos */
* {
    margin: 0;
    padding: 0;
    text-decoration: none;
    box-sizing: border-box;
    font-family: 'Montserrat', sans-serif;
}

/* Estilos del pie de página */
.pie-pagina {
    color: rgb(255, 255, 255);
    background-color: rgb(0, 0, 0);
}

.grupo-1 {
    width: 100%;
    margin: auto;
    display:grid;
    grid-gap:50px;
    max-width: 1200px;
    padding: 45px 0px;
    grid-template-columns: repeat(4, 2fr);
}

.grupo-2{
    display: flex;
    padding: 40px 100px;
    justify-content: space-between;
    background-color: rgb(34, 34, 34);
}

/* Estilos del logo */
figure{
    display: flex;
    align-items: center;
    justify-content: center;
  }

figure img{
    width: 250px;
}

/* Estilos de los elementos del pie de página */
.pie-cont ul{
    list-style: none;
}

.pie-cont h4{
    font-size: 22px;
    position: relative;
    margin-bottom: 25px;
}

.pie-cont h4::before{
    content: '';
    width: 70px;
    height: 2px;
    bottom: -10px;
    position: absolute;
    background-color: rgb(195, 0, 255);
}

p {
    font-size: 16px;
    text-aling: justify;
    text-decoration: none;
}

.pie-cont ul li{
    padding: 0 0 20px 0;
}
.pie-cont ul li a{
    opacity: 0.7;
    font-size: 16px;
    transition: 0.5s;
    text-decoration: none;
    color: rgb(255, 255, 255);
}
.pie-cont ul li a:hover{
    opacity: 1;
    color: rgb(195, 0, 255);
}

/* Estilo del formulario */
.formulario{
    -webkit-box-flex: 1;
    -ms-flex: 1 1 42rem;
        flex: 1 1 42rem;
}

.formulario .caja{
    width: 100%;
    border: none;
    padding: 1rem;
    margin: 0.5rem 0;
    text-transform: none;
    color: rgb(128, 128, 128);
    background-color: rgb(34, 34, 34);
}

.formulario .caja:focus{
    border-color: rgb(195, 0, 255);
}

.formulario .caja::placeholder{
    color: rgb(128, 128, 128);
}

.formulario textarea{
    height: 5rem;
    resize: none;
}

.formulario .btn{
    width: 100%;
    padding: 10px;
    cursor: pointer;
    transition: 0.7s;
    margin-top: 0.5rem;
    color: rgb(195, 0, 255);
    border-color: rgb(195, 0, 255);
    background-color: rgba(0, 0, 0, 0);

}

.formulario .btn:hover{
    color: rgb(255, 255, 255);
    background-color: rgb(195, 0, 255);
}

.cont a {
    transition: 0.7s;
    text-decoration: none;
    color: rgb(255, 255, 255);
}
.cont a:hover{
    text-decoration: none;
    color: rgb(195, 0, 255);
}

.redes-sociales i{
    margin: 0 15px;
    font-size: 20px;
    transition: 0.5s;
    color: rgb(255, 255, 255);
}

.redes-sociales i:hover{
    color: rgb(195, 0, 255);
}

/* Estilos para dispositivos móviles */
@media (max-width: 768px){
    .pie-cont input{
        width: 100%;
    }

    .grupo-1 {
        padding: 20px;
        grid-template-columns: 1fr;
    }

    .grupo-2 {
        align-items: center;
        flex-direction: column;
        padding: 40px 30px 20px;
    }
    
    .redes-sociales {
        margin-top: 15px;
    }
}
